.moreAboutProduct {
  width: 9em;
  height: 2em;
  background-color: #211f1c;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  /*заменить на hover*/
  cursor: pointer;
}

.moreAboutProduct:hover {
  width: 10em;
  height: 3em;
  text-transform: uppercase;
}

.header__login_btn {
  width: 110px;
  background: #211f1c;
  color: #fff;
}
