.moreAboutProduct {
  position: absolute;
  width: 10em;
  height: 2.5em;
  background-color: #393d45;
  border-radius: 10px;
  color: #fff;
}

.moreAboutProduct:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.header__login_btn {
  width: 110px;
  background: #211f1c;
  color: #fff;
}

.header__login_btn:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}
