* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "Roboto", sans-serif;
}

/* .root-div, */
main,
.container {
  display: flex;
  flex-direction: column;
}
/* 
.root-div {
  width: 100%;
} */

html,
body {
  width: 100%;
  /* height: 100%; */
}

body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

header,
.slider,
.our-benefits,
.catalog,
.partners {
  padding-left: 100px;
  padding-right: 100px;
}

header {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.header__logo,
.header__nav,
.header__shopping-cart {
  height: 40px;
}

.header__nav {
  width: 427px;
  display: flex;
}

.way {
  margin-left: 100px;
  margin-right: 100px;
  /* width: 100%; */
  height: 74px;
  padding: 20px;

  font-size: 32px;
  color: #616467;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.way p {
  margin: 0;
  width: max-content;
}

nav {
  width: 100%;
}

.header__nav__ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  font-size: 18px;
}

.header__nav__ul a {
  text-decoration: none;
}

.header__nav__ul a:not(:first-child)::before {
  content: "/";
  margin-right: 20px;
}

.shopping-cart {
  width: 39px;
}

.slider {
  height: 585px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fcf9f6 1.6%, #ffffff 100%);
}

h1,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: #393d45;
  /* margin: 0; */
}

h3 {
  margin-top: 100px;
}

.slider h1 {
  font-size: 60px;
  margin-top: 0px;
}

.slider-text {
  width: 587px;
  height: 372px;
}

.slider-text p {
  color: #616467;
  font-size: 22px;
  line-height: 35px;
}

.btn__action {
  width: 169px;
  height: 52px;
  background-color: #211f1c;
  color: #fff;
  font-size: 16px;
}

.slider-img {
  width: 608px;
  height: 452px;
  background-color: aliceblue;
  border-radius: 40px;
}

.our-benefits {
  /* эта высота играет роль при вычислении расстояния между title и остальными элем-ами */
  height: 675px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.our-benefits__title,
.catalog-title,
.partners-title {
  font-size: 45px;
  color: #393d45;
  text-align: center;
}

.our-benefits__title {
  width: 100%;
  height: min-content;
  justify-content: space-around;
}

.our-benefits__item {
  width: 330px;
  text-align: center;
  /* margin-top: 40px; */
  line-height: 35px;
}

.our-benefits__item img {
  width: 70px;
}

.our-benefits__item h4 {
  font-size: 32px;
}

.our-benefits__item p {
  font-size: 22px;
  color: #616467;
}

.catalog {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  /* height: 1258px; */
  flex-wrap: wrap;
  background-color: #f8f8f8;
}

.catalog-title {
  width: 100%;
  height: min-content;
}

.catalog-item__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 1em;
  font-size: 14px;
  margin-top: 3em;
}

.catalog-item {
  width: 269px;
  /* height: 306px; */
  /* height: min-content; */
  border-radius: 20px;
  /* background-color: aliceblue; */
  box-shadow: 5px 5px 9px -1px rgba(34, 60, 80, 0.2);
  position: relative;
}

.catalog-item__img {
  width: 100%;
  border-radius: 20px;
  position: relative;
  /* высота и бек временно, для страницы Каталог, пока нет картинок */
  height: 269px;
  background-color: aliceblue;
}

.catalog-btn__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  margin-bottom: 0.5em;
}

.catalog-item__btn-shopping-cart {
  width: 52px;
  height: 36px;
}

.icon-trolley {
  width: 30px;
  border-radius: 0px;
}
/* возможное решение по кнопкам на карточке*/
.catalog-item__btn-price,
.catalog-item__btn-shopping-cart {
  /* margin-top: 366px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-radius: 10px;
  height: 36px;
}

.catalog-item__btn-price {
  background-color: #393d45;
  width: 138px;
}

.catalog-item__btn-shopping-cart {
  background-color: #fff;
  color: #393d45;
}

.btn-all_wrap {
  width: 100%;
  text-align: center;
}

.btn-all {
  width: 218px;
  height: 54px;
  background-color: #393d45;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
}

.partners {
  height: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
}

.partners-title {
  width: 100%;
  height: min-content;
}

.partners-item {
  /* width: 50%; */
}

.partners-item img {
  width: auto;
  opacity: 50%;
}

footer {
  height: min-content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  background-color: #484543;
  font-size: 18px;
  color: #fff;
  padding: 2em 100px;
  margin-top: 2em;
}

.footer-nav {
  /* width: min-content; */
  margin-right: 100px;
  text-align: end;
}

.footer-logo {
  font-size: 16px;
}

.footer-logo img {
  filter: invert(1);
}

footer ul {
  list-style: none;
  display: grid;
  grid-gap: 40px;
  font-size: 18px;
}

footer ul a {
  text-decoration: none;
  color: #fff;
}

.footer-call {
  padding-left: 40px;
  padding-right: 40px;
}

#user_phone {
  width: 220px;
  height: 54px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 10px;
  border: 0px;
}

.btn_submit {
  width: 218px;
  height: 54px;
  background-color: #393d45;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
  margin-top: 20px;

  border-radius: 10px;
}

/* ///////////////////////  СТИЛИ СТРАНИЦЫ catalog */

.catalog__in-catalog-page {
  background-color: #fff;
}

.find-string {
  /* width: max-content; */
  height: 56px;
  background: #f5f7fb;
  border-radius: 30px;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.product-item {
  height: 306px;
  width: 269px;
  box-shadow: 5px 5px 9px -1px rgba(34, 60, 80, 0.2);
  position: relative;
}

.catalog-item__title {
  color: #616467;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.catalog-item__price {
  width: min-content;
  white-space: nowrap;
  color: #616467;
  font-weight: 400;
}

/* ///////////////////////////////ABOUT US */
.about-us__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 8em;
}

.about-us__text {
  margin-top: 2em;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  color: #616467;
}

.about-us__text h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 2em;
}
