* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "Roboto", sans-serif;
}

/* .root-div, */
main,
.container {
  display: flex;
  flex-direction: column;
}
/* 
.root-div {
  width: 100%;
} */

html,
body {
  width: 100%;
  /* height: 100%; */
}

body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

header,
.our-benefits,
.catalog,
.partners {
  padding-left: 6rem;
  padding-right: 6rem;
}

header {
  height: 100px;
  /* margin-bottom: 3rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.header__logo,
.header__nav,
.header__shopping-cart,
.header__login-btn {
  height: 40px;
}

/*изменение лого при наведении, чтобы было понятно, что элемень кликабельный, пока не работает*/
.header_logo:hover {
  background: rgba(0, 0, 0, 0.25);
  width: 200px;
  opacity: 0.5;
}

.header__nav {
  width: 427px;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

.header__nav__ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  font-size: 1em;
}

.header__nav__ul a {
  text-decoration: none;
}

.header__nav__ul a:visited {
  color: #393d45;
}

.header__nav__ul a:hover {
  font-weight: 500;
  text-decoration: underline;
}

.header__nav-li:not(:first-child)::before {
  content: "/";
  margin-right: 2em;
}

.shopping-cart {
  width: 39px;
}

.header__cart-login {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 2rem;
  align-items: center;
}

.header__hello {
  margin-right: 1.1em;
}

.invisible {
  visibility: hidden;
}

.way {
  margin: 1em 100px 1em 100px;
  /* width: 100%; */
  height: 3em;
  padding: 20px;
  font-size: 1.3em;
  color: #616467;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.way p {
  margin: 0;
  width: max-content;
}

.slider {
  height: 585px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-gap: 5rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fcf9f6 1.6%, #ffffff 100%);
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: #393d45;
  /* margin: 0; */
}

h3 {
  margin-top: 2.5rem;
  font-size: 0.7em;
}

.slider h1 {
  font-size: 2.5em;
  margin-top: 0px;
}

.slider-text {
  /* width: 587px;
  height: 372px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-text p {
  color: #616467;
  font-size: 1.1em;
  line-height: 1.7em;
}

.slider-text button {
  margin-top: 1rem;
}

.btn__action {
  width: 169px;
  height: 52px;
  background-color: #211f1c;
  color: #fff;
  font-size: 16px;
}

.btn__action:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.slider-img {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 40px;
}

.our-benefits {
  /* эта высота играет роль при вычислении расстояния между title и остальными элем-ами */
  /* height: 675px; */
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 310px);
  justify-content: space-between;
}

.our-benefits__title,
.catalog-title,
.partners-title {
  font-size: 45px;
  color: #393d45;
  text-align: center;
}

.our-benefits__title {
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 1em;
  margin-bottom: 1em;
  height: min-content;
  justify-content: space-around;
}

.our-benefits__item {
  width: 330px;
  text-align: center;
  /* margin-top: 40px; */
  /* line-height: 35px; */
}

.our-benefits__item img {
  width: 70px;
}

.our-benefits__item h4 {
  font-size: 1.3em;
  color: #393d45;
}

.our-benefits__item p {
  font-size: 1em;
  color: #616467;
  line-height: 1.6em;
}

.catalog {
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  /* height: 1258px; */

  background-color: #f8f8f8;
}

.catalog-title {
  width: 100%;
  height: min-content;
  background-color: #f8f8f8;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.catalog-item__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  justify-content: space-around;
  grid-gap: 1rem;
  font-size: 14px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.catalog-item {
  width: 269px;
  /* height: 306px; */
  /* height: min-content; */
  border-radius: 20px;
  /* background-color: aliceblue; */
  box-shadow: 5px 5px 9px -1px rgba(34, 60, 80, 0.2);
  position: relative;
}

/* три блока ниже -- увеличение при наведении */
.item__hover-scale {
  display: inline-block;
  overflow: hidden;
}

.product-item {
  transition: 0.4s; /* Время эффекта */
  display: block;
}

.product-item:hover {
  transform: scale(1.05);
  /* border: 0.1px solid #393d4597; */
}

.catalog-item__img {
  width: 100%;
  border-radius: 20px;
  /* position: relative; */
  /* высота и бек временно, для страницы Каталог, пока нет картинок */
  /* height: 269px; */
  /* background-color: aliceblue; */
}

.catalog-btn__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  bottom: 0;
  align-items: flex-end;
  /* margin-top: 0.6em;
  margin-bottom: 0.4em; */
}

.catalog-item__btn-shopping-cart {
  width: 52px;
  height: 36px;
}

.icon-trolley {
  width: 30px;
  border-radius: 0px;
}
/* возможное решение по кнопкам на карточке*/
.catalog-item__btn-price,
.catalog-item__btn-shopping-cart {
  /* margin-top: 366px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-radius: 10px;
  height: 36px;
}

.catalog-item__btn-price {
  width: 10em;
  height: 2.5em;
  background-color: #393d45;
  border-radius: 10px;
  color: #fff;
}

.catalog-item__btn-price:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.catalog-item__btn-shopping-cart {
  background-color: #fff;
  color: #393d45;
}

.btn-all_wrap {
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  padding-bottom: 2rem;
}

.btn-all {
  width: 218px;
  height: 54px;
  background-color: #393d45;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
}

.btn-all:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.partners {
  width: 100%;
  /* height: 390px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
}

.partners-title {
  width: 100%;
  height: min-content;
  margin-top: 1em;
  margin-bottom: 1em;
}

.partners-item {
  /* width: 50%; */
}

.partners-item img {
  width: auto;
  opacity: 50%;
}

/*///////////////////////////////////////////////// FOOTER*/

footer {
  height: min-content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  background-color: #484543;
  font-size: 0.85em;
  color: #fff;
  padding: 1em 6rem;
  margin-top: 2rem;
}

.footer-nav {
  /* width: min-content; */
  margin-right: 100px;
  text-align: end;
}

.footer-logo {
  /* font-size: 1em; */
}

.footer-logo img {
  filter: invert(1);
}

footer ul {
  list-style: none;
  display: grid;
  grid-gap: 40px;
  /* font-size: 1em; */
}

footer ul a {
  text-decoration: none;
  color: #fff;
}

.footer-call {
  padding-left: 40px;
  padding-right: 40px;
}

#user_phone {
  width: 220px;
  height: 54px;
  /* font-size: 1em; */
  padding-left: 10px;
  border-radius: 10px;
  border: 0px;
}

.btn_submit {
  width: 218px;
  height: 54px;
  background-color: #393d45;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
  margin-top: 20px;

  border-radius: 10px;
}

/* ///////////////////////  СТИЛИ СТРАНИЦЫ catalog */

.catalog__in-catalog-page {
  display: grid;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: #fff;
}

/*поиск не сделан по центру*/
.find-string {
  /* width: max-content; */
  height: 3rem;
  background: #f5f7fb;
  border-radius: 30px;
  margin-top: 2rem;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 1.5em;
  align-items: center;
  position: relative;
}

.find-string p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.product-item {
  /* height: 306px; */
  /* width: 269px; */
  box-shadow: 5px 5px 9px -1px rgba(34, 60, 80, 0.2);

  border-radius: 20px;
}

/* запланирован эффект увеличения при наведении */
.product-item:hover {
}

.catalog-item__title {
  color: #616467;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.catalog-item__price {
  width: min-content;
  white-space: nowrap;
  color: #616467;
  font-weight: 400;
}

.btn-more__wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
}

/* ///////////////////////////////ABOUT US */
.about-us__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 8em;
}

.about-us__text {
  margin-top: 2em;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  color: #616467;
}

.about-us__text h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 2em;
}

/* /////////////////////// АВТОРИЗАЦИЯ */
.auth-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 400px;
  margin: auto;
  justify-items: center;
  grid-gap: 1em;
  transform: translate(0, 50%);
}

.auth-card h2 {
  text-transform: uppercase;

  color: #334756;
}

.auth-forms,
.auth-forms__form {
  display: grid;
  grid-gap: 1em;
}

.auth-forms input,
button,
.auth_error {
  border: 0;
  height: 3em;
  width: 300px;
}

.auth-forms input {
  background: #f3f6ff;
  border-radius: 30px;
  padding-left: 1em;
  font-size: 1em;
}

.auth-card button {
  background: #211f1c;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fbfbfb;
  font-size: 1em;
}

.auth_no-akk {
  color: #334756;
  font-size: 0.8em;
}

.auth_no-akk a {
  color: #616467;
}

.auth_error {
  background: #fd60602c;
  color: rgba(0, 0, 0, 0.659);
  font-size: 0.8em;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border: 1px solid #fd6060e1;
}
