* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "Roboto", sans-serif;
}

/* .root-div, */
main,
.container {
  display: flex;
  flex-direction: column;
}
/* 
.root-div {
  width: 100%;
} */

html,
body {
  width: 100%;
  /* height: 100vh; */
}

body {
  margin: 0px;
}

div#root {
  height: 100vh;
}

div#root > div {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

header,
.our-benefits,
.catalog,
.partners {
  padding-left: 6rem;
  padding-right: 6rem;
}

/*//////////////////////// HEADER*/

header {
  height: 100px;
  /* margin-bottom: 3rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.header__logo,
.header__nav,
.header__shopping-cart,
.header__login-btn {
  /* height: 40px; */
}

.img-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: 0.25s;
}

.header__nav {
  width: 427px;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

.header__nav__ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  font-size: 1em;
}

.header__nav__ul a {
  text-decoration: none;
}

.header__nav__ul a:visited {
  color: #393d45;
}

.header__nav__ul a:hover {
  font-weight: 500;
  text-decoration: underline;
}

.header__nav-li:not(:first-child)::before {
  content: "/";
  margin-right: 2em;
}

/*////////////////// ИКОНКА КОРЗИНЫ */

.header__shopping-cart > a {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  width: 43px;
}

.shopping-cart {
  width: 39px;
  z-index: 2;
  position: relative;
}

.cart_is-not-empty {
  width: 12px;
  height: 12px;
  background-color: rgb(231, 100, 19);
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  align-self: flex-end;
}

.header__cart-login {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.header__admin-btn {
  width: max-content;
  background-color: #616467;
  color: #fff;
  border-radius: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  cursor: pointer;
}

.header__admin-btn:hover {
  background-color: #61646753;
  color: rgba(0, 0, 0, 0.834);
  border: 0.5px solid rgba(0, 0, 0, 0.834);
}

.header__hello {
  /* visibility: hidden; */
  margin-right: 1.1em;
  width: min-content;
  font-size: 0.9em;
}

.invisible {
  visibility: hidden;
}

.way {
  margin: 1em 100px 1em 100px;
  /* width: 100%; */
  height: 3em;
  padding: 20px;
  font-size: 1.3em;
  color: #616467;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.way p {
  margin: 0;
  width: max-content;
}

.slider {
  height: 510px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-gap: 4rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fcf9f6 1.6%, #ffffff 100%);
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}

h1,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: #393d45;
  /* margin: 0; */
}

h3 {
  margin-top: 2.5rem;
  font-size: 0.7em;
}

.slider h1 {
  font-size: 2.1em;
  margin-top: 0px;
}

.slider-text {
  /* width: 587px;
  height: 372px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-text p {
  color: #616467;
  font-size: 1em;
  line-height: 1.6em;
}

.slider-text button {
  margin-top: 1rem;
}

.btn__action {
  width: 169px;
  height: 52px;
  background-color: #211f1c;
  color: #fff;
  font-size: 16px;
}

.btn__action:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.slider-img {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: aliceblue; */
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.slider-img > img {
  border-radius: 20px;
  width: 100%;
  box-shadow: 5px 5px 9px -1px rgb(34 60 80 / 20%);
}

.our-benefits {
  /* эта высота играет роль при вычислении расстояния между title и остальными элем-ами */
  /* height: 675px; */
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 310px);
  justify-content: space-between;
}

.our-benefits__title,
.catalog-title,
.partners-title {
  font-size: 45px;
  color: #393d45;
  text-align: center;
}

.our-benefits__title {
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 1em;
  margin-bottom: 1em;
  height: min-content;
  justify-content: space-around;
}

.our-benefits__item {
  width: 330px;
  text-align: center;
  /* margin-top: 40px; */
  /* line-height: 35px; */
}

.our-benefits__item img {
  width: 70px;
  opacity: 0.5;
}

.our-benefits__item > h4 {
  font-size: 1.3em;
  color: #393d45;
}

.our-benefits__item p {
  font-size: 1em;
  color: #616467;
  line-height: 1.6em;
}

.catalog {
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  /* height: 1258px; */

  background-color: #f8f8f8;
}

.catalog-title {
  width: 100%;
  height: min-content;
  background-color: #f8f8f8;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.catalog-item__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  justify-content: space-around;
  grid-gap: 1rem;
  font-size: 14px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.catalog-item {
  width: 269px;
  /* height: 306px; */
  /* height: min-content; */
  border-radius: 20px;
  /* background-color: aliceblue; */
  box-shadow: 5px 5px 9px -1px rgba(34, 60, 80, 0.2);

  position: relative;
}

/* три блока ниже -- увеличение при наведении */
.item__hover-scale {
  display: inline-block;
  overflow: hidden;
}

.product-item {
  transition: 0.4s; /* Время эффекта */
  display: block;
}

.product-item:hover {
  transform: scale(1.05);
  /* border: 0.1px solid #393d4597; */
}

.catalog-item__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-item__img {
  width: 100%;
  border-radius: 20px;
  /* position: relative; */
  /* высота и бек временно, для страницы Каталог, пока нет картинок */
  /* height: 269px; */
  /* background-color: aliceblue; */
}

.catalog-btn__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  bottom: 0;
  align-items: flex-end;
  /* margin-top: 0.6em;
  margin-bottom: 0.4em; */
}

.catalog-item__btn-shopping-cart {
  width: 52px;
  height: 36px;
}

.icon-trolley {
  width: 30px;
  border-radius: 0px;
}
/* возможное решение по кнопкам на карточке*/
.catalog-item__btn-price,
.catalog-item__btn-shopping-cart {
  /* margin-top: 366px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-radius: 10px;
  height: 36px;
}

.catalog-item__btn-price {
  width: 10em;
  height: 2.5em;
  background-color: #393d45;
  border-radius: 10px;
  color: #fff;
}

.catalog-item__btn-price:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.catalog-item__btn-shopping-cart {
  background-color: #fff;
  color: #393d45;
}

.btn-all_wrap {
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  padding-bottom: 2rem;
}

.btn-all {
  width: 218px;
  height: 54px;
  background-color: #393d45;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
}

.btn-all:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.partners {
  width: 100%;
  /* height: 390px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
}

.partners-title {
  width: 100%;
  height: min-content;
  margin-top: 1em;
  margin-bottom: 1em;
}

.partners-item {
  /* width: 50%; */
}

.partners-item img {
  width: auto;
  opacity: 50%;
}

/*///////////////////////////////////////////////// FOOTER*/

footer {
  height: min-content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  background-color: #484543;
  font-size: 0.85em;
  color: #fff;
  padding: 1em 6rem 0;
  margin-top: 2rem;
}

.footer-nav {
  /* width: min-content; */
  margin-right: 100px;
  text-align: end;
}

.footer-logo {
  /* font-size: 1em; */
}

.footer-logo img {
  filter: invert(1);
}

.footer__legal-inf {
  font-size: 0.6em;
}

.footer__legal-inf > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.738);
}

footer ul {
  list-style: none;
  display: grid;
  grid-gap: 40px;
  /* font-size: 1em; */
}

footer ul a {
  text-decoration: none;
  color: #fff;
}

.footer-call {
  padding-left: 40px;
  padding-right: 40px;
}

#user_phone {
  width: 220px;
  height: 54px;
  /* font-size: 1em; */
  padding-left: 10px;
  border-radius: 10px;
  border: 0px;
}

.btn_submit {
  width: 218px;
  height: 54px;

  background-color: #393d45;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
}

.btn_submit:hover {
  cursor: pointer;
  background: #e0e2e5d8;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.btn_submit:active {
  background: #989a9bd8;
}

/* ///////////////////////  СТИЛИ СТРАНИЦЫ catalog */

.catalog__aside-and-catalog {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: #fff;
}

.catalog__filter {
  width: 150px;
  margin-top: 3rem;
}

.catalog__filter > div {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.catalog__filter > div > h4 {
  margin: 0;
  text-align: center;
}

.filter__categories {
  /* min-width: fit-content; */
  background: #f5f7fb;
  margin: 1em;
  border-radius: 20px;
  height: 2em;
  width: 150px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 1px solid transparent;
}

.filter__categories:hover {
  transform: scale(1.1);
}

.filter__categories:active {
  background: #929396;
}

.catalog__in-catalog-page {
  display: grid;
  background-color: #fff;
}

/*поиск не сделан по центру*/
.find-string {
  /* width: max-content; */
  height: 3rem;
  background: #f5f7fb;
  border-radius: 30px;
  margin-top: 2rem;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 1.5em;
  align-items: center;
  position: relative;
}

.find-string p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.product-item {
  /* height: 306px; */
  /* width: 269px; */
  box-shadow: 5px 5px 9px -1px rgba(34, 60, 80, 0.2);

  border-radius: 20px;
}

/* запланирован эффект увеличения при наведении */
.product-item:hover {
}

.catalog-item__title {
  color: #616467;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.catalog-item__price {
  width: min-content;
  white-space: nowrap;
  color: #616467;
  font-weight: 400;
}

.btn-more__wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
}

/* ///////////////////////////////ABOUT US */
.about-us__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 8em;
}

.about-us__text {
  margin-top: 2em;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  color: #616467;
}

.about-us__text h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 2em;
}

/*//////////////////////////////// КОРЗИНА */

.cart__container {
  padding-left: 6em;
  padding-right: 6em;
}

.cart__container-title {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
  grid-column-start: 2;
  /* grid-gap: 1em; */
  font-weight: 500;
  text-align: center;
  height: 40px;
}

/*////////////////////////// ТЕЛО КОРЗИНЫ */

.cart__container-products {
  display: grid;
  /* grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; */
  margin: 1em 0;
  background: #f8f8f8;
  text-align: center;
}

.cart__container-products > div {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
  margin: 1em 0;
  background: #f8f8f8;
  text-align: center;
  align-items: center;
}

/*стиль для всех элементов вложенности первого уровня*/
.cart__container-products > * {
  align-self: center;
}

.cart__container-products-img {
  width: 100px;
  justify-self: center;
}

.cart__container-products-img img {
  width: 70px;
}

.cart__container-products-count {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.cart__container-products-delete {
  justify-self: center;
}

.cart__container-products-delete button {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

.del_icon {
  width: 35%;
  opacity: 0.5;
}

.del_icon:hover {
  opacity: 1;
}

/* ///////////////////СТИЛИ СЧЁТЧИКА КОЛ-ВА ТОВАРА */
.count-count {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
}

.count-box {
  height: 30px;
  /* min-width: min-content; */
}

.count-input {
  width: 100%;
  padding: 0.2em;
  background-color: transparent;
  text-align: center;
  border: 0.5px solid black;
  height: 30px;
}

.count-input::-webkit-inner-spin-button,
.count-input::-webkit-outer-spin-button {
  appearance: none;
}

.count-control {
  display: flex;
  align-items: center;
  min-width: 30px;
  height: 30px;
  justify-content: center;
}

.count-up,
.count-down {
  padding: 0;
  width: 40px;
  height: 100%;
  align-self: center;
}

/* ///////////////// НИЗ КОРЗИНЫ */

.cart__container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-gap: 1em; */
  background: #f8f8f8;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.cart__footer-count {
  grid-column-start: 4;
}

.cart__sent {
  margin: auto;
  margin-top: 2rem;
}

.cart__sent > form > button {
  font-size: 1em;
  cursor: pointer;
  background-color: rgba(46, 78, 46, 0.785);
  color: #fff;
}

.cart__sent > form > button:hover {
  border: 1px solid rgba(0, 0, 0, 0.33);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

/* //////////////////// МОДАЛЬНОЕ ОКНО */
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.258);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2000;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  background-color: #fff;
  /* height: 400px;
  width: 400px; */
  transform: scale(0.5);
  transition: 0.3s all;
  width: 50vw;
  height: max-content;
  padding-bottom: 1em;
}

.modal-content.active {
  transform: scale(1);
  /* для мобильного: */
  /* width: 100%; */
}

/* /////////////////////// АВТОРИЗАЦИЯ */
.auth-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 400px;
  margin: auto;
  justify-items: center;
  grid-gap: 1em;
  /* transform: translate(0, 25%); */
}

.auth-card h2 {
  text-transform: uppercase;

  color: #334756;
}

.auth-forms,
.auth-forms__form {
  display: grid;
  grid-gap: 1em;
}

.auth-forms input,
button,
.auth_error {
  border: 0;
  height: 3em;
  width: 300px;
}

.auth-forms input {
  background: #f3f6ff;
  border-radius: 30px;
  padding-left: 1em;
  font-size: 1em;
}

.auth_action {
  padding-left: 0.5em;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

.auth_action:hover {
  color: rgba(0, 0, 0, 0.401);
}

.auth-card button {
  background: #211f1c;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fbfbfb;
  font-size: 1em;
}

.auth-card button:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1.5px solid #393d45;
}

.auth_no-akk {
  display: flex;
  justify-content: space-arounf;
  color: #334756;
  font-size: 0.8em;
}

.auth_no-akk a {
  color: #616467;
}

.auth_error {
  background: #fd60602c;
  color: rgba(0, 0, 0, 0.659);
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border: 1px solid #fd606095;
  border-radius: 0.2em;
  height: min-content;
  margin-top: -1em;
}

.auth_error p {
  margin: 0.5em;
}

/*////////////////////////// АДМИН ПАНЕЛЬ*/

.admin-main {
  display: flex;
  flex-direction: column;
  padding-left: 6em;
  padding-right: 6em;
}

.admin-main > div:first-child {
  align-self: flex-end;
}

.addItem {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(46, 78, 46, 0.899);
  border-radius: 1em;
}

.admin__container {
  display: grid;
  grid-gap: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  height: auto;
  font-size: 0.9em;
  color: #211f1c;
}

.admin__container > h2 {
  margin: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.admin_add-meshki {
  display: flex;
  flex-direction: column;
}

.admin_add-meshki:last-child {
  align-items: center;
}

.admin_add-meshki button {
  height: 2.2em;
  margin-top: 0.5em;
  border-radius: 1em;
  background-color: #616467bb;
  color: #fff;
}

.admin_add-meshki button:hover {
  background-color: #6164673e;
  color: rgba(46, 78, 46, 0.899);

  border: 1px solid rgba(46, 78, 46, 0.899);
}

.admin_add-meshki button:active {
  background-color: rgba(46, 78, 46, 0.685);
  color: #fff;
}

.admin_add-meshki active {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  grid-gap: 2em;
}

.admin__add-description {
  display: grid;
  grid-gap: 0.4em;
}

.admin__add-description input {
  background-color: #f3f6ff;
  border: 1px solid #c4c6cd;
  height: 2em;
  /* margin-bottom: 0.5em; */
  font-size: 0.8em;
}

.admin__choose {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* //////////////////// АДМИНКА ГЛАВНАЯ -- ВСЕ ТОВАРЫ */
.all-products__title {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 100px;
  border: 1px solid rgb(19, 79, 19);
}

.all-product__table {
  display: grid;
  border: 1px solid #53afcd;
  grid-template-columns: repeat(10, 1fr);

  height: 200px;
}

/* //////////////////////////////////// ОБРАТНЫЙ ЗВОНОК*/

.call_description {
  margin: 0;
  text-align: center;
  font-size: 0.5em;
}

.call__card input {
  font-size: 1em;
  width: 100%;
  height: 2em;
  background: #f3f6ff;
  border-radius: 30px;
  padding-left: 1em;
  border: 0;
}

.auth-forms__form > textarea {
  outline: none;
  width: 100%;
  font-size: 0.8em;
  border-radius: 20px;
  padding: 1em;
  border: 0.5px;
  height: 8em;
  background: #f3f6ff;
  resize: vertical;
  overflow: auto;
}

/* /////////////////// МЕДИА ЗАПРОСЫ*/

@media (max-width: 768px) {
  .modal-content.active {
    width: 100%;
    margin-right: 2em;
    margin-left: 2em;
  }
}

@media (max-width: 1024px) {
  header {
    font-size: 0.9em;
  }

  .img-logo {
    width: 80px;
  }

  .slider {
    grid-gap: 2em;
    height: 400px;
  }

  .slider h1 {
    font-size: 1.5em;
  }

  .slider-text p {
    font-size: 0.8em;
  }

  .catalog-item {
    width: 250px;
  }

  .catalog-item__img {
    width: 100%;
  }

  .our-benefits {
    grid-template-columns: repeat(auto-fill, 170px);
  }

  .our-benefits__item {
    width: 100%;
  }

  .our-benefits__item > h4 {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    white-space: normal;
  }

  .our-benefits__item > p {
    font-size: 0.8em;
  }

  h3 {
    margin-top: 1.2rem;
  }

  footer ul {
    display: none;
  }
}
