main {
  /* padding-left: 100px;
  padding-right: 100px; */
  /* margin-top: 2em; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5em;
}

.product-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
  padding-left: 6rem;
  padding-right: 6rem;
}

.product-img {
  width: 400px;
  /* height: 550px; */
  border-radius: 4px;
  /* background-color: aliceblue; */
}

/* .product-about__wrap {
  margin-left: 2em;
  margin-top: 2em;
} */

.product-about__title {
  font-size: 2em;
  color: #616467;
  width: max-content;
  font-weight: 500;
}

.product-about__text {
  margin-top: 1.2em;
  color: #9a9292;
  font-size: 1.2em;
}

.product__price-buy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-top: 4em;
}

.product__price {
  font-size: 1.3em;
  color: #434343;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.product__price p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.product__amount {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.amount__change,
.product__amount input {
  width: 46px;
  height: 46px;
  background-color: #f5f7fb;
  text-align: center;
  border: 0;
  font-size: 1em;
  font-weight: 500;
}

.add-to-cart {
  height: 46px;
  width: max-content;
  /* padding: 1em; */
  padding-left: 1em;
  padding-right: 1em;
  background-color: #211f1c;
  color: #fff;
  font-size: 1em;
}
