main {
  /* padding-left: 100px;
  padding-right: 100px; */
  /* margin-top: 2em; */
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  margin-bottom: 5em;
}

.product-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 1em;
  padding-left: 6rem;
  padding-right: 6rem;
  width: 100vw;
}

.product-item__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 400px;
  /* height: 550px; */
  border-radius: 4px;
  /* background-color: aliceblue; */
}

.product-img > img {
  width: 100%;
}

.product-about__wrap {
  width: 80%;
}

.product-about__title {
  font-size: 1.6em;
  color: #616467;
  /* width: min-content; */
  font-weight: 500;
}

.product-about__text {
  margin-top: 1.2em;
  color: #655f5f;
  font-size: 1em;
  line-height: 0.7em;
}

.product-about__category {
  color: #434343;
  font-weight: 500;
}

.product__price-buy {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  justify-items: center;
  grid-gap: 1em;
  margin-top: 4em;
}

.product__price {
  align-self: center;
  /* width: 100px; */
  font-size: 1.2em;
  color: #434343;
  font-weight: 600;
  text-align: center;
  position: relative;
  /* z-index: -1; */
}

.product__price p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.product__amount {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.amount__change,
.product__amount input {
  width: 46px;
  height: 46px;
  background-color: #f5f7fb;
  text-align: center;
  border: 0;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.amount__change:hover {
  background-color: #b1b3b65d;
}

.amount__change:active {
  background-color: #b1b3b6;
}

.add-to-cart {
  height: 46px;
  width: max-content;
  /* padding: 1em; */
  padding-left: 1em;
  padding-right: 1em;
  background-color: #211f1c;
  color: #fff;
  font-size: 0.9em;
}

.add-to-cart:hover {
  cursor: pointer;
  background: #393d452a;
  color: #211f1c;
  border: 1px solid #393d45;
}

.add-to-cart:active {
  background-color: rgba(56, 161, 35, 0.695);
}

/* ////////////////////   MEDIA запросы */

@media screen and (max-width: 1023px) {
  .product-img {
    width: 250px;
  }

  .product-img > img {
    width: 250px;
  }

  .product-about__title {
    font-size: 1.1em;
  }

  .product-about__text {
    font-size: 1em;
  }

  .product__price-buy {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 2em;
  }

  .product__amount {
    width: 50%;
  }
}
